/* ==========================================================================
    GITHUB THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #00adb5;
$dark-primary-color         : mix(#000, $primary-color, 40%);
$darker-primary-color       : mix(#000, $primary-color, 60%);
$light-primary-color        : mix(#000, $primary-color, 50%);

$background                 : #0d1117;
$background-dark            : #010409;
$background-light           : #151b23;
/*$background-lighter         : mix(#fff, $background, 90%);*/

$text                       : #eaeaea;
$text-muted                 : #9198a1;

$link                       : #4493f8;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

$border-color               : #3d444d;
$border-color-muted         : #3d444db3;

$header                     : $background-dark;
$footer                     : $background-dark;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #{$border-color};
    --global-dark-border-color          : #{$border-color-muted};
    --global-code-background-color      : #{$background-light};
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$light-primary-color};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$text-muted};
    --global-thead-color                : #{$background-light};
}
